:root {
    --focus-border: #007fd4;
    --sash-size: 20px;
    --sash-hover-size: 20px;
}

.sash-hover:after {
    content: "ドラッグで調整可能";
    /* 位置 */
    position: absolute;
    left: 0;
    top: 32px;
    z-index: 1;

    /* 文字 */
    font-weight: normal;
    color: black;
    white-space: nowrap;

    /* 背景 */
    background-color: white;
    padding: 3px;
    border: 1px silver solid;
    border-radius: 3px;
    box-shadow: 1px 1px 3px silver;

}

.pane-hover {
    transition: all 0.3s ease;
}

.pane-hover:hover {
    width: 120%;
    height: 120%;
}