/* Allomentのリポジトリ内から */
.leftPane,
.rightPane {
    transition: all 0.15s ease-in-out;
    will-change: width;
}

/* これがないとドラッグで幅調節した時の挙動がおかしくなる */
.splitViewContainer:global(.split-view-sash-dragging) .leftPane,
.splitViewContainer:global(.split-view-sash-dragging) .rightPane {
    /* disable animation while sash dragging */
    transition: none;
}

.overflowAuto {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.paneBg {
    background-color: var(--slate-300);
}

.hFull {
    height: 100%;
}