.codeContainer {
    counter-reset: linenumber;
    padding-left: 2.5em;
    font-size: 1rem;
    line-height: 1.5;
    /* 行番号のスペースを確保 */
}

.codeContainer>div::before {
    left: -1.5rem;
}

.codeContainer div:not(.noCounter) {
    counter-increment: linenumber;
    position: relative;
}

.codeContainer div:not(.noCounter)::before {
    content: counter(linenumber);
    position: absolute;
    /* 行番号を親要素の左端に揃える */
    transform: translateX(-100%);
    width: 2em;
    text-align: right;
    color: gray;
}