@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-opacity: 1;
  --slate-800: rgb(30 41 59 / var(--bg-opacity, 1));
  --slate-900: rgb(15 23 42 / var(--bg-opacity, 1));
  --sky-300: rgb(125 211 252 / var(--bg-opacity, 1));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}