:root {
  --background: #fafaf9;
  --foreground: #171717;
  --bg-opacity: 1;
  --slate-300: #cbd5e1;
  --slate-500: rgb(100 116 139 / var(--tw-text-opacity, 1));
  --slate-700: #353e4f;
  --slate-800: #1e293b;
  --slate-900: #0F172A;
  --slate-950: #020617;
  --sky-300: #7DD3FC;
  --blue-600: #1976d2;
  --stone-50: #fafaf9;
  --error: #FF4500;
  --warnning: #FFFF00;
  --darkgray: #424242;
  --slategray: #4b5563;
}

body {
  font-family: YakuHanJPs, Roboto, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, nc3Jp, sans-serif !important;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/* src/app/globals.css */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.initial-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}